<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>webDemo.helloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>webDemo.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>webDemo.request.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.servlet.LoginServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserService</display-name>
    <servlet-name>UserService</servlet-name>
    <servlet-class>service.UserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserService</servlet-name>
    <url-pattern>/UserService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>dao.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeServlet</display-name>
    <servlet-name>LifeServlet</servlet-name>
    <servlet-class>live.LifeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeServlet</servlet-name>
    <url-pattern>/LifeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshHeader</display-name>
    <servlet-name>RefreshHeader</servlet-name>
    <servlet-class>webDemo.response.RefreshHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshHeader</servlet-name>
    <url-pattern>/RefreshHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>web.servlet.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SConnfigServlet</display-name>
    <servlet-name>SConnfigServlet</servlet-name>
    <servlet-class>web.servlet.SConnfigServlet</servlet-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>jone</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SConnfigServlet</servlet-name>
    <url-pattern>/sconfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPath</display-name>
    <servlet-name>ShowPath</servlet-name>
    <servlet-class>web.servlet.ShowPath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPath</servlet-name>
    <url-pattern>/ShowPath</url-pattern>
  </servlet-mapping>
</web-app>